@charset "UTF-8";

/* ===================================== 전체 ===================================== */
.community_section{/*필요 정보 : 번호, 제목, 작성자, 작성일, 조회수 */
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	/*z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;*/
}

.community_content{
	width: 100%;
	height: auto;
}

/* ===================================== list용 css ===================================== */
.community_list_blank{
	width: 100%;
	height: 8.5vh;
  	min-height: 54px;
}

.community_list_header{
	width: 100%;
	height: 12vh;
 	min-height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1vw;
}

.community_list_main{
	width: 100%;
	height: auto;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.community_list_title{
	width: 90%;
	height: 7vh;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 0.5vw;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 7px solid black;
	margin-bottom: 3vh;
}
.community_list_title>.goWrite{cursor: pointer;}

.community_list_count{
	width: 85%;
	height: 10vh;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 1vw;
	padding-bottom: 0.5vw;
	font-size: 20px;
	font-weight: bold;
}
.community_list_count>span>.highlight{font-size: 25px; color: #0984e3;}


.community_list_line_start, .community_list_line ,.community_list_page{
	width: 85%;
	height: 9vh;
	min-height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.community_list_line_start{
	border: 3px solid black;
	background-color: #a4b0be;
}

.community_list_line{
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}


.community_list_page{margin: 10vh auto 0 auto;}

/* ===================================== 게시글 리스트  css - 몸짱게시판, 동아리 홍보 게시판  ===================================== */

.community_list_block_area{
	width: 85%;
	height: auto;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.community_list_block{
	width: 27%;
	height: 65vh;
	border: 2px solid black;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	border-radius: 7%;
	background-color: #dfe6e9;
}

.community_list_block>.title{
	width: 100%; height: 13%;
	display: flex; justify-content: flex-start; align-items: center;
	padding-left: 1vw;
	font-size: 20px;
}
.community_list_block>.title>span{text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
.community_list_block>.image{width: 80%; height: 50%; background: white; cursor: pointer;}
.community_list_block>.info{width: 100%; height: 30%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.community_list_block>.info>.user{width: 100%; height: 33.3%; display: flex; justify-content: center; align-items: center;}
.community_list_block>.info>.date{width: 100%; height: 33.3%; display: flex; justify-content: center; align-items: center;}
.community_list_block>.info>.views{width: 100%; height: 33.3%; display: flex; justify-content: center; align-items: center;}



/* ===================================== 게시글 리스트  css ===================================== */
.community_list_line_start>.number, .community_list_line>.number{
	width: 7%; height: 100%;
	display: flex; justify-content: center; align-items: center;
	font-weight: bold;
}
.community_list_line_start>.title, .community_list_line>.title{
	width: 58%; height: 100%; border-left: 3px solid black; border-right: 3px solid black;
	display: flex; justify-content: center; align-items: center;
	font-weight: bold;
}
.community_list_line_start>.user, .community_list_line>.user{
	width: 23%; height: 100%;
	display: flex; justify-content: center; align-items: center;
	font-weight: bold;
}
.community_list_line_start>.date, .community_list_line>.date{
	width: 20%; height: 100%; border-left: 3px solid black; border-right: 3px solid black;
	display: flex; justify-content: center; align-items: center;
	font-weight: bold;
}
.community_list_line_start>.views, .community_list_line>.views{
	width: 12%; height: 100%;
	display: flex; justify-content: center; align-items: center;
	font-weight: bold;
}
.community_list_line>.title>a:link { color: #4b70fd; }

/* ===================================== 검색용 css ===================================== */
.search_box{width: 28%; height: 50px; border: 2px solid #63C1AE; background-color: #63C1AE;}
.searchForm{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.search_box_text{width: 72%;  border: 1px solid black;}
.search_box_text:focus{outline: #63C1AE;}
.searchForm>input{ height: 98%; border-radius: none; background-color: white; border: 1px solid #63C1AE;}
.search_box_button{width: 28%; height: 100%; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.search_box_button>i{font-size: 20px; color: white;}

/* ===================================== write 페이지용 css - 자유 게시판  ===================================== */
.community_write_main{width: 100%; height: 76.5vh;}
.community_write_main>form{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}

.community_write_title{
	width: 80%; height: 10vh;
	min-height: 42px;
	border: 3px solid black;
	display: flex; justify-content: center; align-items: center;
	background-color: lightgray;
	margin-top: 2vh;
}
.community_write_title>div{width: 20%; height: 100%; border-right: 3px solid black; display: flex; justify-content: center; align-items: center;}
.community_write_title>input{width: 80%; height: 100%; border: none; background-color: white; }

.community_write_content{
	width: 80%; height: 60vh;
	min-height: 285px;
	border: 3px solid black;
	display: flex; justify-content: center; align-items: center;
	background-color: lightgray;
}
.community_write_content>div{width: 20%; height: 101%; border-right: 3px solid black; display: flex; justify-content: center; align-items: center;}
.community_write_content>textarea{width: 80%; height: 100%; resize: none; border: none;  background-color: white; }

.community_write_footer{width: 100%; height: 15vh; display: flex; justify-content: center; align-items: center;}
.community_write_footer>div{width: 80%; height: auto; display: flex; justify-content: flex-start; align-items: center;}
.community_write_footer>div>button, .community_write_footer>div>a>button {
	width: 20vw; height: 10vh;
	min-height: 48px;
	margin-right: 1vw; border-radius: 2em;
	background-color: lightgray; 
}
.community_write_footer>div>button:focus {outline:none;}

/* ===================================== write 페이지용 css - 몸짱 게시판, 동호회 홍보 게시판  ===================================== */
.community_write_main_plus{width: 100%; height: auto;}
.community_write_main_plus>form{width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; padding-top: 3vh;}
.community_write_content_plus{
	width: 80%; height: auto;
	min-height: 50vh;
	border: 3px solid black;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.community_write_footer>div>a>button{color: black;}

/* ===================================== 글 쓰기 페이지로 이동 ===================================== */
.go_write{cursor: pointer;}

/* ===================================== view 페이지용 css  ===================================== */
.community_view_title{
	width: 100%; height: 8.5vh; min-height: 54px;
	padding-left: 5vh;
	font-size: 25px; font-weight: bold;
	display: flex; justify-content: flex-start; align-items: center;
}
.community_view_info{
	width: 100%; height: 8.5vh;
	min-height: 54px;
	display: flex; justify-content: flex-start; align-items: center;
	border-top: 2px solid black; border-bottom: 2px solid black;
}
.community_view_info>span{margin-left: 3vw;}
.community_view_main{
	width: 100%; height: auto; min-height: 74.5vh;
	display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
}

/* 글 내용 */
.community_view_main_content{width: 80%; height: auto; min-height: 60vh; margin-bottom: 10vh; border: 1px solid black; margin-top: 7vh;}

/* 댓글 */
.community_view_comment{width: 73%; height: auto; margin-bottom: 10vh;}
.community_view_comment_header{
	width: 100%; height: 7.5vh;
	display: flex; justify-content: flex-start; align-items: center;
	padding-left: 1vw; margin-bottom: 5vh;
	font-size: 22px; font-weight: bold;
	border-bottom: 5px solid black;
}
.community_view_comment_main{width: 100%; height: auto; min-height: 17.5vh;}
.community_view_comment_main>iframe{border: none;}

/* 버튼 목록 */
.community_view_footer{width: 100%; height: 15vh; display: flex; justify-content: center; align-items: center;}
.community_view_footer>div{width: 73%; height: 70px; display: flex; justify-content: flex-start; align-items: center;}
.community_view_footer>div>a>input[type="button"]{width: 200px; height: 70px; margin-right: 1vw; border-radius: 2em; background-color: #f1f2f6; }
.community_view_footer>div>button:focus {outline:none;}

/* ============================================= 미디어 쿼리 =============================================  */
@media screen and (max-width: 1000px) {
  .search_box{width: 35%;}
}

@media screen and (max-width: 750px) {
  .search_box{width: 42%;}
}