@charset "UTF-8";

/* ===================================== 운동 게시판 추가 ===================================== */
.addWorkOutSection{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
}
.addWorkOutContent{
	margin-top: 8.5vh;
	width: 100%;
	height: auto;
	min-height: 91.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 영역 구분 */
.addWorkOutContent>form{
	width: 100%;
	height: auto;
	min-height: 81vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 3.3vh;
}
.addWorkOutContent>footer{
	width: 100%;
	height: 10.5vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.addWorkOutContent>footer>button{
	width: 20vw;
	height: 8vh;
	background-color: #EEEEEE;
	border: 3px solid black;
	border-radius: 2em;
	font-size: 20px;
	font-weight: bold;
}
.addWorkOutContent>footer>button:focus{
	outline: none;
}

/* 운동명, 운동부위, 영상 주소 */
.addWorkOut_write_line{
	width: 70%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	margin-bottom: 3.3vh;
}
.addWorkOut_write_line>div{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	border-right: 3px solid black;
	background-color: #EEEEEE;
}
.addWorkOut_write_line>input, .addWorkOut_write_line>select{
	width: 70%;
	height: 100%;
	border: none;
}
.addWorkOut_write_line>select{
	text-align-last:center;
	font-size: 20px;
}
.addWorkOut_write_line>select>option{
	font-size: 20px;
	text-align:center;
	text-align-last:center;
}

/* 운동 설명 */
.addWorkOut_write_textarea_line{
	width: 70%;
	height: auto;
	min-height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	margin-bottom: 2vh;
}
.addWorkOut_write_textarea_line>div{
	width: 100%;
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid black;
	background-color: #EEEEEE;
}
.addWorkOut_write_textarea_line>textarea{
	width: 100%;
	height: auto;
	min-height: 29vh;
	border: none;
	resize : vertical;
}